body{
    background: rgb(136, 195, 47);
}

.titulo{
    font-size: 35px;
    text-align-last: center;
    font-family: "Oswald", sans-serif;
}

p{
font-size: 30px;
font-family: "Poppins", sans-serif;
}

.passo{
    display:none;
}

.passo.ativo{
    display:block;
}

button{
    font-size: 50px;
    margin-top: 30px;
    background:rgb(252, 128, 71)
}

main{
    text-align: CENTER;
    max-width: 90%;
}

img{
    max-width: 90%;
}
